<div class="page-header fixed" [class.transparent]="transparent" [ngStyle]="{ 'font-family': font }">
  <div class="container">
    <md-toolbar>

      <!--<div class="container">-->
      <!--<md-toolbar-row>-->

      <img *ngIf="thing.logo && thing.logo.path" [src]="thing.logo.path" class="logo" />

      <h3 class="title">
        {{thing.title}}
      </h3>

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <nav md-tab-nav-bar>
        <a md-tab-link *ngFor="let thing of things; let i=index; trackBy: getKey" [routerLink]="getLink(thing)" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          {{thing.title}}
        </a>
      </nav>

      <span class="fill-remaining-space"></span>

      <button md-icon-button [md-menu-trigger-for]="menu" title="Menu">
        <md-icon>more_vert</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <button *ngIf="user" md-menu-item disabled>
          {{ user | displayName }}
        </button>
        <button *ngIf="user" md-menu-item (click)="logout()">
          Sign Out
        </button>
        <button *ngIf="!user" md-menu-item (click)="login()">
          Sign In
        </button>
      </md-menu>

      <!--</md-toolbar-row>-->

      <!--</div>-->

    </md-toolbar>
  </div>
</div>

<div scrollSpyElement="scroller" class="scrollable" [ngStyle]="{ 'font-family': font }">
  <!--class="alignCenter"-->

  <div>

    <div [scrollSpyParallax]="{ spyId: 'scroller', ratio: 0.3 }" class="background" [ngStyle]="{ 'background-image': 'url(' + (currentThing.background && currentThing.background.path ? currentThing.background.path : (thing.background ? thing.background.path : '')) + ')' }">

      <div class="container">

        <div class="header content">
          <h1>
            {{currentThing.title}}
          </h1>
          <h3>
            {{currentThing.description}}
          </h3>
        </div>

      </div>

      <!--<div class="tab-overlay">

      <md-tab-group>

        <md-tab *ngFor="let thing of things; let i=index; trackBy: getKey" [label]="thing.title">

          <h1>{{thing.title}}</h1>

          <p>{{thing.description}}</p>

          <app-website-section [parent]="thing"></app-website-section>

        </md-tab>

      </md-tab-group>

    </div>-->

    </div>

    <!--<div class="section">
      <div class="container content">-->
        <app-website-section *ngIf="currentThing && currentThing._id" [parent]="currentThing" (onResize)="routeChanged()"></app-website-section>
      <!--</div>
    </div>-->

  </div>

</div>