<div *ngIf="!params.mode" class="page-header fixed" [class.transparent]="transparent" [ngStyle]="{ 'font-family': font }">
  <div class="container">
    <md-toolbar>

      <a class="logo" [routerLink]="getLink(this.things.length > 0 ? this.things[0] : thing)">
        <img *ngIf="thing.logo?.path" class="logo" [src]="thing.logo.path" />
      </a>

      <h3 class="title">
        {{thing.title}}
      </h3>

      <span class="fill-remaining-space"></span>

      <nav md-tab-nav-bar>
        <a md-tab-link *ngFor="let thing of things; let i=index; trackBy: getId" [routerLink]="getLink(thing)" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          {{thing.title}}
        </a>
      </nav>

      <span class="fill-remaining-space"></span>

      <button md-icon-button [md-menu-trigger-for]="menu" title="Menu">
        <md-icon>more_vert</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <button *ngIf="user" md-menu-item disabled>
          {{ user | displayName }}
        </button>
        <button *ngIf="user" md-menu-item (click)="logout()">
          Sign Out
        </button>
        <button *ngIf="!user" md-menu-item (click)="login()">
          Sign In
        </button>
      </md-menu>

    </md-toolbar>
  </div>
</div>

<div scrollSpyElement="scroller" [class.scrollable]="params.mode !== 'print'" [ngStyle]="{ 'font-family': font }">

  <div>

    <div [scrollSpyParallax]="{ spyId: 'scroller', ratio: 0.3 }" [class.background]="!params.mode" [ngStyle]="{ 'background-image': 'url(' + (!params.mode && currentThing.background?.path ? currentThing.background.path : (!params.mode && thing.background?.path ? thing.background.path : '')) + ')' }">

      <div class="container">

        <div class="header content">
          <h1>
            {{currentThing.title}}
          </h1>
          <h3>
            {{currentThing.description}}
          </h3>
        </div>

      </div>

      <!--
      <div class="tab-overlay">

        <md-tab-group>

          <md-tab *ngFor="let thing of things; let i=index; trackBy: getId" [label]="thing.title">

            <h1>{{thing.title}}</h1>

            <p>{{thing.description}}</p>

            <app-website-section [parent]="thing"></app-website-section>

          </md-tab>

        </md-tab-group>

      </div>
      -->

    </div>

    <app-website-section *ngIf="currentThing && currentThing._id" [parent]="currentThing" [params]="params" (onResize)="routeChanged()"></app-website-section>

  </div>

</div>