<div class="thing-list alignCenter">

  <md-card *ngIf="archetype(parent).displaytype !== 'table'" (click)="click({ event: $event })" [class.reference]="parent.type === 'Reference' || (!parent.view?.showChildren && !parent.session?.editable)">

    <md-list *ngIf="parent.view?.showChildren || parent.type === 'Reference'">

      <h3 *ngIf="parent.type !== 'Reference' && things.length > 0" style="margin-bottom: 0.5em;">{{parent.title}}</h3>

      <div *ngFor="let thing of things; let i=index; trackBy: getKey">

        <md-list-item *ngIf="thing.type !== 'Reference' || !thing.session.childrenLength || editingReference">

          <button *ngIf="thing.type !== 'Reference' && parent.type !== 'Reference' && archetype(thing).displaytype !== 'table'" md-icon-button class="left" (click)="toggleChildren({ event: $event, thing: thing, force: false })">
            <md-icon *ngIf="!thing.view || !thing.view.showChildren">add_circle</md-icon>
            <md-icon *ngIf="thing.view?.showChildren">remove_circle_outline</md-icon>
          </button>

          <md-icon md-list-avatar>{{archetype(thing).icon}}</md-icon>
          
          <md-input-container>
            <input type="text" mdInput [disabled]="!thing.session || thing.session.disabled" [(ngModel)]="thing.order.index" placeholder="Order" title="{{thing._id}}" style="width: 50px;" />
          </md-input-container>

          <md-select name="type" [disabled]="!thing.session || thing.session.disabled" [(ngModel)]="thing.type" placeholder="Type" (ngModelChange)="typeChange(thing)" (click)="typeClick($event)">  
            <md-option *ngFor="let archetype of archetypes(parent)" [value]="archetype.key">
              {{archetype.display}}
            </md-option>
          </md-select>

          <md-input-container>
            <input type="text" mdInput [disabled]="!thing.session || thing.session.disabled" [(ngModel)]="thing.title" placeholder="Title" title="{{thing.title}}" />
          </md-input-container>

          <div *ngFor="let prop of props(thing); trackBy: getKey">
            <md-input-container *ngIf="prop.type !== 'image'">
              <input type="text" mdInput [disabled]="!thing.session || thing.session.disabled" [(ngModel)]="thing[prop.key][prop.name]" placeholder="{{prop.title}}" title="{{thing[prop.key][prop.name]}}" style="width: 100px;" />
            </md-input-container>
          </div>

          <app-admin-action [thing]="thing" (onSave)="save($event)" (onEdit)="edit($event)" [editing]="thing.session?.editing" [enableCreate]="'none'" [enableEdit]="!editingParent && thing.session?.editable ? 'yes' : 'none'" [enableExpand]="false"></app-admin-action>

        </md-list-item>

        <!--RECURSIVE-->
        <div class="alignCenter" >
          <app-admin-list [parent]="thing" (onEdit)="edit($event)" [editingParent]="editingReference"></app-admin-list>
        </div>

      </div>

      <!--
      <md-divider></md-divider>
      -->

      <!--
      <h3 md-subheader>Notes</h3>
      <md-list-item *ngFor="let note of notes">
        <md-icon md-list-avatar>note</md-icon>
        <h4 md-line>{{note.name}}</h4>
        <p md-line> {{note.updated | date}} </p>
      </md-list-item>
      -->

    </md-list>

    <div *ngIf="parent.type !== 'Reference'" class="alignCenter">
      <app-admin-action [thing]="parent" (onCreate)="create($event)" [enableCreate]="parent.session?.editable ? 'yes' : 'none'" [enableEdit]="'none'" [enableExpand]="false"></app-admin-action>
    </div>

  </md-card>

</div>