<div *ngIf="things.length > 0" [class.section-container]="parent.type !== 'Reference'" [class.flex]="getArchetype(this.things[0]).displaytype === 'flex-column'">

  <div *ngFor="let thing of things; let i=index; trackBy: getId" [class.flex-column]="getArchetype(thing).displaytype === 'flex-column'">

    <div *ngIf="!thing.reference || !thing.reference._id" style="position: relative;">

      <div *ngIf="getArchetype(thing).displaytype !== 'two-column'" [scrollSpyParallax]="{ spyId: 'scroller', ratio: -0.3 }" [class.background]="thing.background?.path" [ngStyle]="{ 'background-image': 'url(' + (thing.background?.path ? thing.background.path : '') + ')' }">

        <section *ngIf="getArchetype(thing).displaytype !== 'table'" class="container content">

          <div *ngIf="!params.mode && thing.background?.path" class="print-button">
            <a md-mini-fab [routerLink]="getLink({thing: thing, type: 'print'})" target="_blank">
              <md-icon>print</md-icon>
            </a>
          </div>

          <div [ngSwitch]="level">
            <template ngSwitchCase="1">
              <h2 class="header alignCenter">
                {{thing.title}}
              </h2>
            </template>
            <template ngSwitchCase="2">
              <h3 class="header alignCenter">
                {{thing.title}}
              </h3>
            </template>
            <template ngSwitchCase="3">
              <h4 class="header alignCenter">
                {{thing.title}}
              </h4>
            </template>
            <template ngSwitchDefault>
              <p class="header alignCenter">
                {{thing.title}}
              </p>
            </template>
          </div>

          <div *ngIf="!(thing.type==='Social Site' && thing.site && thing.site.url)" class="subheader" class="alignCenter" style="line-height: 2;">
            {{thing.description}}
          </div>

          <div *ngFor="let prop of getProperties(thing); trackBy: getId">
            <div *ngIf="!prop.hidden && thing[prop.key] && thing[prop.key][prop.name]">
              <div [ngSwitch]="prop.type" class="item {{prop.type}}">
                <template ngSwitchCase="email">
                  <a md-raised-button href="mailto:{{thing[prop.key][prop.name]}}">{{ thing[prop.key][prop.name] }}</a>                
                </template>
                <template ngSwitchCase="phone">
                  <a md-raised-button href="tel:{{thing[prop.key][prop.name]}}">{{ thing[prop.key][prop.name] }}</a>                
                </template>
                <template ngSwitchDefault>
                  {{ thing[prop.key][prop.name] }}
                </template>
              </div>
            </div>
          </div>

          <div *ngIf="thing.type==='Social Site' && thing.site?.url">
            <div *ngIf="thing.site.url.indexOf('facebook') > -1">
              <div 
                class="fb-page" 
                [attr.data-href]="thing.site.url" 
                [attr.data-tabs]="'timeline,events'" 
                [attr.data-width]="500" 
                [attr.data-small-header]="false" 
                [attr.data-adapt-container-width]="true" 
                [attr.data-hide-cover]="false" 
                [attr.data-show-facepile]="false">
                <blockquote [attr.cite]="thing.site.url" class="fb-xfbml-parse-ignore">
                  <a [attr.href]="thing.site.url">{{thing.description}}</a>
                </blockquote>
              </div>
            </div>
            <div *ngIf="thing.site.url.indexOf('facebook') < 0">
              <blockquote [attr.cite]="thing.site.url">
                <a [attr.href]="thing.site.url">{{thing.description}}</a>
              </blockquote>
            </div>
          </div>

        </section>

        <div *ngIf="getArchetype(thing).displaytype === 'table'" class="container">

          <div class="table-row">

            <div class="text" style="flex: 3;">{{thing.title}}</div>

            <div *ngIf="thing.description" class="text" style="flex: 3;">{{thing.description}}</div>

            <template ngFor let-i="index" let-c="count" let-prop [ngForOf]="getProperties(thing)" [ngForTrackBy]="getId">
              <div *ngIf="!isEmpty({ thing: thing, prop: prop })" class="text" [class.num]="prop.type === 'number' || prop.type === 'currency'">                
                {{ thing[prop.key] ? thing[prop.key][prop.name] : '' }}
              </div>
            </template>

          </div>

        </div>

      </div>

      <div *ngIf="getArchetype(thing).displaytype === 'two-column'" class="container">

        <div class="two-column">
          
          <div class="image" [ngStyle]="{ 'background-image': 'url(' + (thing.background?.path ? thing.background.path : '') + ')' }">
          </div>

          <div class="text">
            <h3>
              {{thing.title}}
            </h3>

            <p>
              {{thing.description}}
            </p>

            <div *ngFor="let prop of getProperties(thing); trackBy: getId" class="item">
              {{thing[prop.key] ? thing[prop.key][prop.name] : ''}}
            </div>
          </div>

        </div>

      </div>

    </div>
    
    <app-website-section [parent]="thing" [params]="params" [level]="thing.type === 'Reference' ? level : level + 1"></app-website-section>

  </div>

</div>