<div>

  <section *ngIf="archetype(parent).displaytype!=='table'">

    <div *ngFor="let thing of things; let i=index; trackBy: getKey">

      <h1>{{thing.title}}</h1>

      <p>{{thing.description}}</p>

      <div *ngFor="let prop of props(thing); trackBy: getKey">
        <div *ngIf="!prop.hidden && thing[prop.key] && thing[prop.key][prop.name]">
          {{ thing[prop.key][prop.name] }}
        </div>
      </div>

      <div *ngIf="thing.type==='Facebook Site'">
        <div 
          class="fb-page" 
          [attr.data-href]="thing.site.url" 
          [attr.data-tabs]="'timeline,events'" 
          [attr.data-width]="500" 
          [attr.data-small-header]="false" 
          [attr.data-adapt-container-width]="true" 
          [attr.data-hide-cover]="false" 
          [attr.data-show-facepile]="false">
          <blockquote [attr.cite]="thing.site.url" class="fb-xfbml-parse-ignore">
            <a [attr.href]="thing.site.url">Barclay&#039;s Restaurant and Pub</a>
          </blockquote>
        </div>
      </div>

      <app-website-section [parent]="thing"></app-website-section>

    </div>

  </section>


  <div *ngIf="archetype(parent).displaytype==='table'">

    <div *ngFor="let thing of things; let i=index; trackBy: getKey" class="table-row">

      <div class="text">{{thing.title}}</div>

      <div class="text">{{thing.description}}</div>

      <div *ngFor="let prop of props(thing); trackBy: getKey" class="text" [class.num]="prop.type==='number' || prop.type==='currency'">
        {{thing[prop.key] ? thing[prop.key][prop.name] : ''}}
      </div>

      <app-website-section [parent]="thing"></app-website-section>

    </div>

  </div>

</div>