
$text-width: 180px;
$num-width: 80px;

:host > .section-container {
    padding-top: 35px;
    padding-bottom: 35px;
}

:host > .section-container .section-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.background {
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,1);
    color: white;
}

section {
    // min-height: 300px;
    text-align: center;
}

// .background section {
//     min-height: auto;
// }

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.background .container .header {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.content {
    padding: 10px 50px 10px 50px;
}

.table-row {
    border-bottom: 1px dotted #e0e0e0;
    border-collapse: collapse;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
    // padding-left: 15px;
    // padding-right: 15px;
}

// .table-row:last-child {
//     margin-bottom: 50px;
// }

.text {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    padding-right: 20px;
}

// Fix the minimum width of the leaf level cells
.text {
  width: $text-width;
}

.num {
  width: $num-width;
  text-align: right;
}

