<div *ngFor="let thing of things; let i=index; trackBy: getKey" class="thing" [class.root]="!this.parent._id" [class.reference]="thing.parent !== parent._id && things.length > 3">

  <md-card [class.vertical]="!thing.view?.showContent" [class.reference]="thing.parent !== parent._id" (click)="click({ event: $event, thing: thing })"> 

    <div *ngIf="thing._id !== 'Root'" class="connector above">
      <button md-icon-button [disabled]="this.choosing" (click)="lookupThing({ event: $event, thing: thing, action: reparent, test: reparentTest })" title="Change parent">
        <md-icon>more_vert</md-icon>
      </button>
    </div>

    <md-card-header>

      <div md-card-avatar><md-icon>{{archetype(thing).icon}}</md-icon></div>

      <span class="top left field-order">
        <input type="text" [disabled]="disabled({ thing: thing })" [(ngModel)]="thing.order.index" tabindex="100" title="{{thing._id}}" />
      </span>

      <div class="choose above alignCenter full-width" [class.left]="thing.view?.showContent">
        <button *ngIf="thing.session?.showChoose" md-raised-button color="warn" (click)="chooseThing({ event: $event, thing: thing })" title="Choose this item">
          Choose
        </button>
      </div>

      <button *ngIf="thing.type==='Web Site'" md-icon-button class="top right" (click)="open({ event: $event, thing: thing })" title="Open in new window">
        <md-icon>call_made</md-icon>
      </button>

      <md-card-title>
        <md-input-container class="full-width">
          <input mdInput type="text" [disabled]="disabled({ thing: thing })" [(ngModel)]="thing.title" placeholder="Title" title="{{thing.title}}" />
        </md-input-container>
      </md-card-title>

      <!--
      <md-card-subtitle>
        {{thing._id}}
      </md-card-subtitle>
      -->

    </md-card-header>

    <md-card-content *ngIf="thing.view && thing.view.showContent">

      <div>
        <md-input-container class="full-width">
          <textarea mdInput type="text" [disabled]="disabled({ thing: thing })" [(ngModel)]="thing.description" placeholder="Description"></textarea>
        </md-input-container>
      </div>

      <md-select name="type" [disabled]="disabled({ thing: thing })" [(ngModel)]="thing.type" placeholder="Type" (ngModelChange)="typeChange(thing)" (click)="typeClick($event)">  
        <md-option *ngFor="let archetype of archetypes(parent)" [value]="archetype.key">
          {{archetype.display}}
        </md-option>
      </md-select>

      <div *ngFor="let prop of props(thing); trackBy: getKey">
        <md-input-container *ngIf="prop.type !== 'image' && prop.type !== 'thing'">
          <input type="text" mdInput [disabled]="disabled({ thing: thing })" [(ngModel)]="thing[prop.key][prop.name]" [placeholder]="prop.title" />
        </md-input-container>
        <div *ngIf="prop.type === 'thing'" class="thing-reference">
          <md-input-container>
            <input type="text" mdInput [disabled]="true" [(ngModel)]="thing[prop.key][prop.name]" [placeholder]="prop.title" />
          </md-input-container>
          <span>
            <button md-icon-button (click)="lookupThing({ event: $event, thing: thing, action: referto, test: refertoTest })" [disabled]="disabled({ thing: thing })">
              <md-icon>menu</md-icon>
            </button>
          </span>
        </div>
        <div *ngIf="prop.type === 'image'" class="file">
          <md-input-container>
            <input type="text" mdInput [disabled]="disabled({ thing: thing })" [(ngModel)]="thing[prop.key][prop.name]" [placeholder]="prop.title" />
          </md-input-container>
          <span>
            <input #inputFile type="file" ng2FileSelect class="inputfile" [disabled]="disabled({ thing: thing })" [uploader]="uploader" accept="image/*" (change)="onFile($event, thing, prop)" />
            <button md-icon-button (click)="openFileDialog($event, inputFile)" [disabled]="disabled({ thing: thing })">
              <md-icon>menu</md-icon>
            </button>
          </span>
          <div class="preview">
            <img *ngIf="thing[prop.key] && thing[prop.key][prop.preview]" class="preview" [src]="thing[prop.key][prop.preview]" />
          </div>
        </div>
      </div>

    </md-card-content>

    <md-card-actions>

      <app-admin-action
        [thing]="thing" 
        (onSave)="save($event)" 
        (onEdit)="edit($event)" 
        (onCreate)="create($event)" 
        (onDelete)="delete($event)" 
        (onToggle)="toggleContent($event)" 
        [disabled]="this.choosing" 
        [enableCreate]="thing.parent === parent._id && thing.session?.editable ? 'yes' : 'none'" 
        [enableEdit]="thing.view?.showContent && (thing.parent === parent._id || thing.type === 'Image') && thing.session?.editable ? 'yes' : 'none'"
        [enableDelete]="thing.view?.showContent && (thing.parent === parent._id || thing.type === 'Image') && thing.session?.editable ? 'yes' : 'none'"></app-admin-action>

      <div *ngIf="thing.session?.error?.message">
        <md-chip-list>
          <md-chip color="warn">{{thing.session?.error?.message}}</md-chip>
        </md-chip-list>      
      </div>

    </md-card-actions>

    <md-card-footer>

      <!--<input type="text" *ngIf="auth" placeholder="Add here..." (keyup.enter)="action($event, thing)" />-->

      <span class="childrenLength">
        {{thing.session.childrenLength}}
      </span>

      <button *ngIf="thing.parent === parent._id" md-icon-button class="below" (click)="toggleChildren({ event: $event, thing: thing, force: false })">
        <md-icon *ngIf="!thing.view || !thing.view.showChildren">add_circle</md-icon>
        <md-icon *ngIf="thing.view?.showChildren">remove_circle_outline</md-icon>
      </button>

      <button *ngIf="thing.view?.showChildren && thing.session.childrenLength > 0" md-icon-button class="below right" (click)="toggleFormat({ event: $event, thing: thing })">
        <md-icon>menu</md-icon>
      </button>

    </md-card-footer>

  </md-card>

  <!-- RECURSIVE -->
  <!-- thing.parent===parent._id ... don't show children if this is a reference -->
  <div *ngIf="thing.view?.showChildren && thing.parent === parent._id" class="alignCenter fancy-top-border" [class.constrain]="thing.type === 'Reference'"> 
    <app-admin-thing *ngIf="!thing.view || !thing.view.format" [parent]="thing" [choosing]="choosing" (onResize)="doResize($event)"></app-admin-thing>
    <app-admin-list *ngIf="thing.view?.format" [parent]="thing" (onResize)="doResize($event)"></app-admin-list>
  </div>

</div>
