<div *ngIf="enableCreate==='yes'">
  <button md-icon-button *ngIf="!thing.view || !thing.view.showContent" (click)="toggle($event)" title="Show details" class="alignCenter">
    <md-icon>expand_more</md-icon>
  </button>

  <div class="alignCenter">
    <button md-icon-button *ngIf="thing.view && thing.view.showContent" (click)="toggle($event)" title="Hide details" class="alignCenter">
      <md-icon>expand_less</md-icon>
    </button>
  </div>
</div>

<button *ngIf="!isEditing && enableCreate!=='none'" md-icon-button color='primary' [disabled]="isEditing" [md-menu-trigger-for]="menu" title="Add a child thing" (click)="add($event)">
  <md-icon>add</md-icon>
</button>

<button *ngIf="isEditing" md-raised-button md-icon-button color='primary' [style.position]="position2()" [style.right]="right2()" [disabled]="!isEditing" (click)="cancel($event)" title="Cancel editing">
  <md-icon>cancel</md-icon>
</button>

<span *ngIf="enableEdit!=='none' && enableCreate!=='only'" [style.position]="position()" [style.right]="right()">
  <button *ngIf="!isEditing" md-icon-button color='primary' [disabled]="isEditing" (click)="edit($event)" title="Edit this thing">
    <md-icon>edit</md-icon>
  </button>

  <button *ngIf="isEditing" md-raised-button md-icon-button color='primary' [disabled]="!isEditing" (click)="save($event)" title="Save this thing">
    <md-icon>save</md-icon> 
  </button>
</span>

<md-menu #menu="mdMenu">
  <button md-menu-item *ngFor="let archetype of archetypes(thing)" (click)="create($event)">
    {{archetype.display}}
  </button>
</md-menu>