<div *ngIf="enableExpand">
  <button md-icon-button *ngIf="!thing.view || !thing.view.showContent" (click)="toggle($event)" title="Show details" class="alignCenter">
    <md-icon>expand_more</md-icon>
  </button>

  <div class="alignCenter">
    <button md-icon-button *ngIf="thing.view && thing.view.showContent" (click)="toggle($event)" title="Hide details" class="alignCenter">
      <md-icon>expand_less</md-icon>
    </button>
  </div>
</div>

<button *ngIf="enableDelete!=='none' && editing" md-raised-button md-icon-button color='warn' [style.position]="positionDelete()" [style.left]="leftDelete()" [disabled]="!editing || disabled" (click)="delete($event)" title="Delete this item">
  <md-icon>delete</md-icon>
</button>

<button *ngIf="enableCreate!=='none' && !editing" md-icon-button color='primary' [disabled]="editing || disabled" [md-menu-trigger-for]="menu" title="Add a new item to {{thing.title}}" (click)="add($event)">
  <md-icon>library_add</md-icon>
</button>

<button *ngIf="enableEdit!=='none' && editing" md-raised-button md-icon-button color='primary' [style.position]="positionCancel()" [style.transform]="transformCancel()" [disabled]="!editing || disabled" (click)="cancel($event)" title="Cancel editing">
  <md-icon>cancel</md-icon>
</button>

<span *ngIf="enableEdit!=='none'" [style.position]="positionEdit()" [style.right]="rightEdit()">
  <button *ngIf="!editing" md-icon-button color='primary' [disabled]="editing || disabled" (click)="edit($event)" title="Edit this item">
    <md-icon>edit</md-icon>
  </button>

  <button *ngIf="editing" md-raised-button md-icon-button color='primary' [disabled]="!editing || disabled" (click)="save($event)" title="Save this item">
    <md-icon>save</md-icon> 
  </button>
</span>

<md-menu #menu="mdMenu">
  <button md-menu-item *ngFor="let archetype of getArchetypes(thing); trackBy: getId" (click)="create($event)">
    {{archetype.display}}
  </button>
</md-menu>